{% extends "shared/base.html" %}


{% block title %}
  <title>Login</title>
  <style>
    .button-box
    {
      width: 250px;
      margin: 50px auto;
      position: relative;
      /*box-shadow: 0 0 20px 9px #ff61241f;*/
    }

    .toggle-btn
    {
      padding: 10px 20px;
      background: linear-gradient(to right, #ff105f,#ffad06 );;
      border: 0;
      outline: none;
      position: relative;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <!--<h5 class="display-5"><center>Login to JobHunt</center></h5>-->
      <div class="button-box">
        <div id="btn"></div>
        <center><p class="toggle-btn">Login to JObHunt</p></center>
      </div>
      <div class="text-danger font-weight-bold">
          {% for error in errors %}
            <li>{{error}}</li>
          {% endfor %}
      </div>
      <div class="text-success font-weight-bold">
        {% if msg %}
        <div class="badge bg-success text-wrap font-weight-bold" style="font-size: large;">
          {{msg}}
        </div>
        {% endif %}
    </div>
    </div>

    <div class="row my-5">
      <form method="POST">
        <div class="mb-3">
          <label>Email</label>
          <input type="text" required placeholder="Your email" name="email" value="{{email}}" class="form-control">
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input type="password" required value="{{password}}" name="password" class="form-control">
        </div>
        <!--<center><button type="submit" class="btn btn-primary">Login</button></center>-->
        <center><button type="submit" class="toggle-btn">Login</button></center>
      </form>
    </div>
  </div>
  {% endblock %}
