{% extends "shared/base.html" %}


{% block title %}
  <title>Signup</title>
  <style>
    .button-box
    {
      width: 250px;
      margin: 50px auto;
      position: relative;
      /*box-shadow: 0 0 20px 9px #ff61241f;*/
    }

    .toggle-btn
    {
      padding: 10px 20px;
      background: linear-gradient(to right, #ff105f,#ffad06 );;
      border: 0;
      outline: none;
      position: relative;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="button-box">
        <center><p class="toggle-btn">Signup to JObHunt</p></center>
      </div>
      <!--<h5 class="display-5">Signup to JobHunt</h5>-->
      <div class="text-danger font-weight-bold">
          {% for error in errors %}
            <li>{{error}}</li>
          {% endfor %}
      </div>
    </div>

    <div class="row my-5">
      <form method="POST">
        <div class="mb-3">
          <label>Username</label>
          <input type="text" required class="form-control" name="username" value="{{username}}" placeholder="username">
        </div>
        <div class="mb-3">
          <label>Email</label>
          <input type="text" required placeholder="Your email" name="email" value="{{email}}" class="form-control">
        </div>
        <div class="mb-3">
          <label>Password</label>
          <input type="password" required placeholder="Choose a secure password" value="{{password}}" name="password" class="form-control">
        </div>
        <div class="mb-3">
          <label>Date of Birth</label>
          <input type="date" required value="{{dob}}" name="dob" class="form-control">
        </div>
        <div class="mb-3">
          <label>Age</label>
          <input type="number" required value="{{age}}" name="age" class="form-control">
        </div>
        <div class="mb-3">
          <label>Education</label>
          <input type="text" required value="{{education}}" name="education" class="form-control">
        </div>
        <div class="mb-3">
          <label>Skills</label>
          <input type="text" required value="{{Skills}}" name="skills" class="form-control">
        </div>
        <div class="mb-3">
          <label>Contact</label>
          <input type="number" required value="{{contact}}" name="contact" class="form-control">
        </div>
        <div class="mb-3">
          <label>Address</label>
          <input type="text" required value="{{address}}" name="address" class="form-control">
        </div>
        <div class="mb-3">
          <label>Gender</label>
          <input type="text" required value="{{gender}}" name="gender" class="form-control">
        </div>
        <!--<button type="submit" class="btn btn-primary">Submit</button>-->
        <center><button type="submit" class="toggle-btn">Submit</button></center>
      </form>
    </div>
  </div>
  {% endblock %}
